/*.body {
    background-image: url("../img/amarillo-negro.jpg");
    background-size: cover;
    background-position: center center;
  }*/
  .body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    background-image: url("../img/amarillo-negro.jpg");
  }