body {
<<<<<<< HEAD
    background-image: url("../img/amarillo-negro.jpg");
=======
    background-image: url("./amarillo-negro.jpg");
>>>>>>> 95de1e77c451d9e2ee2f02854e7a6f6236a0445a
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

  
