.construccion {
    background-color: #4e4e4e7b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
  
    .presentacion_construccion {
      max-width: 800px;
      margin: 0 auto;
    }
  }