.mision {
    background-color: #4e4e4e7b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
    
  
    .presentacion_mision {
      max-width: 800px;
      margin: 0 auto;
      
    }
  }
.neon{
  .neon_programacion{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 3rem 1rem;
    }
    .&-image{
      border-radius: 0.5pc;
    }
}
