$black: #000000;
$white: #ffffff;
$color-fondo: #c9c5c544;
$color-texto: #000000fe;
$black: #000;
$white: #fff;
$navbar-active-color: #ff0000;
$navbar-font-family: "Arial", sans-serif;
$carousel-bg: #212529;
$carousel-control-color: #fff; 
